<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<base th:replace="template :: base" />
<title>Welcome to ePre</title>

<link rel="stylesheet" type="text/css" href="css/semantic.min.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<style type="text/css">
td .segment{
	max-width: 360px;
	width: 360px;
}
table{
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 10px;
}
td{
	vertical-align: top;
}
</style>

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/jquery.form.js"></script>
<script type="text/javascript" src="javascript/semantic.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var password_form = $("#password-form");
	if (1 == password_form.length) {
		password_form.form({
			fields: {
				old_password: {
					identifier : "old_password",
					rules: [{
						type   : "empty",
						prompt : "Please enter your old password"
					}]
				},
				new_password: {
					identifier : "new_password",
					rules: [{
						type   : "empty",
						prompt : "Please enter a new password"
					}]
				},
				repeat_password: {
					identifier : "repeat_password",
					rules: [{
						type   : "match[new_password]",
						prompt : "The repeat password should be the same as the new password"
					}]
				}
			},
			onSuccess: function (event, fields) {
				$.ajax({
					url: "/password.do",
					method: "POST",
					data: fields,
					dataType: "json",
					success: function (data) {
						if (data.code == 0) {
							$("#message").html("You have changed your password successfully");
							$("#message").toggleClass("error", false).toggleClass("success", true).show();
						} else {
							$("#message").html(data.desc);
							$("#message").toggleClass("success", false).toggleClass("error", true).show();
						}
					},
					error: function () {
						$("#message").html("Fail to change your password");
						$("#message").toggleClass("success", false).toggleClass("error", true).show();
					}
				})
			}
		});
	}
});
</script>
</head>

<body>
<article class="ui container page">
	<section th:replace="template :: header"></section>
	<div class="ui divider"></div>
	
	<section id="page-content">
	<table><tr><td><div class="ui blue segment">
		<h3 class="ui dividing header">Change Your Password</h3>
		<form class="ui form" id="password-form">
			<div class="required field">
				<label class="ui left aligned header">Old Password</label>
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password" name="old_password" required="required" maxlength="32" />
				</div>
			</div>
			<div class="required field">
				<label class="ui left aligned header">New Password</label>
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password" name="new_password" required="required" maxlength="32" />
				</div>
			</div>
			<div class="required field">
				<label class="ui left aligned header">Repeat New Password</label>
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password" name="repeat_password" required="required" maxlength="32" />
				</div>
			</div>
			<div class="ui error message"></div>
			<div>
				<button class="ui blue button">Confirm</button>
			</div>
		</form>
	</div></td></tr></table>
	</section>
	
	<div th:replace="template :: footer"></div>
</article>
</body>
</html>