<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<base th:replace="template :: base" />
<title>Welcome to ePre</title>

<link rel="stylesheet" type="text/css" href="css/semantic.min.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<link rel="stylesheet" type="text/css" href="css/password.css" />

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/jquery.form.js"></script>
<script type="text/javascript" src="javascript/semantic.js"></script>
<script type="text/javascript" src="javascript/password.js"></script>

</head>

<body>
<article class="ui container page">
	<section th:replace="template :: header"></section>
	<div class="ui divider"></div>
	
	<section id="page-content">
	<table><tr><td><div class="ui blue segment">
		<h3 class="ui dividing header">Change Your Password</h3>
		<form class="ui form" id="password-form">
			<div class="required field">
				<label class="ui left aligned header">Old Password</label>
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password" name="old_password" required="required" maxlength="32" />
				</div>
			</div>
			<div class="required field">
				<label class="ui left aligned header">New Password</label>
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password" name="new_password" required="required" maxlength="32" />
				</div>
			</div>
			<div class="required field">
				<label class="ui left aligned header">Repeat New Password</label>
				<div class="ui left icon input">
					<i class="lock icon"></i>
					<input type="password" name="repeat_password" required="required" maxlength="32" />
				</div>
			</div>
			<div class="ui error message" id="message"></div>
			<div>
				<button class="ui blue button">Confirm</button>
			</div>
		</form>
	</div></td></tr></table>
	</section>
	
	<div th:replace="template :: footer"></div>
</article>
</body>
</html>