<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<base th:replace="template :: base" />
<title>Welcome to ePre</title>

<link rel="stylesheet" type="text/css" href="css/semantic.min.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<style type="text/css">
</style>

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/jquery.form.js"></script>
<script type="text/javascript" src="javascript/semantic.js"></script>
<script type="text/javascript">
</script>
</head>

<body>
<article class="ui container page">
	<section th:replace="template :: header"></section>
	<div class="ui divider"></div>

	<section id="page-content">
		<table class="ui table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Department</th>
					<th>Presentation</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="video : ${videos}">
					<td><a th:text="${ video.getId() }"></a></td>
					<td><a th:text="${ video.getPresentation().getDepartment().getAbbreviation() }"></a></td>
					<td><a th:text="${ video.getPresentation().getName() }"></a></td>
					<td><a th:text="${ video.getName() }"></a></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colSpan="4"><div class="ui center floated pagination menu">
						<a class="icon item"><i class="left chevron icon"></i></a>
						<a class="item">1</a>
						<a class="icon item"><i class="right chevron icon"></i></a>
					</div></td>
				</tr>
			</tfoot>
		</table>
	</section>
	
	<div th:replace="template :: footer"></div>
</article>
</body>
</html>
