<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<base th:replace="template :: base" />
<title>Welcome to ePre</title>

<link rel="stylesheet" type="text/css" href="css/semantic.min.css" />
<link rel="stylesheet" type="text/css" href="css/page.css" />
<style type="text/css">
</style>

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/jquery.form.js"></script>
<script type="text/javascript" src="javascript/semantic.js"></script>
<script type="text/javascript">
</script>
</head>

<body>
<article class="ui container page">
	<section th:replace="template :: header">
	</section>
	<div class="ui divider"></div>

	<section id="page-content">
	
	</section>
	
	<div th:replace="template :: footer"></div>
</article>
</body>
</html>