@CHARSET "UTF-8";
.page{
	min-width: 800px;
}
.logo{
	margin-left: 8px;
}
#page-header{
	margin-top: 8px;
}
#page-content{
	min-height: 600px;
}
#page-footer{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}