@CHARSET "UTF-8";
#video_player{
	margin-right: 20px;
}
#comment_div{
	height: 450px;
	width: 300px;
}
#comment_div li.highlighted{
	backgroud-color: #CCCCCC;
}
.comment_playtime{
	color: #2185D0;
	margin-right: 1em;
}

#comment{
	width: 50em;
	height: 4em;
}
#comment_button_td{
	text-align: center;
	vertical-align: bottom;
}
#grade_td{
	vertical-align: top;
}